* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section-1 */

#section-1 {
    position: fixed;
    width: 320px;
    height: 1080px;
    background-color: yellow;
}

/* section-2 */

#section-2 {
    position: absolute;
    margin: 127.43px 0 0 320px;
    width: 1600px;
    height: 952.57px;
    background-color: blue;

}

/* section-3 */

#section-3 {
    position: fixed;
    margin: 0 0 0 320px;
    width: 1600px;
    height: 127.43px;
    background-color: red;
}

/* section-4 */

#section-4 {

}
